# Title
Finding Heavy Traffic Indicators on I-94

# Project Description
I'm going to analyze a dataset about the westbound traffic on the I-94 Interstate highway.

My goal is to find out what factors affect heavy traffic on I-94. These factors can be weather type, time of the day, time of the week, etc.

## Importation
Here is the section to import all the packages/libraries that will be used through this notebook.

In [19]:
# Data handling
import pandas as pd
import numpy as np
from datetime import datetime

# Vizualisation (Matplotlib, Plotly, Seaborn, etc. )
import seaborn as sns
import matplotlib as plt

# EDA (pandas-profiling, etc. )
...

# Feature Processing (Scikit-learn processing, etc. )
...

# Machine Learning (Scikit-learn Estimators, Catboost, LightGBM, etc. )
...

# Hyperparameters Fine-tuning (Scikit-learn hp search, cross-validation, etc. )
...

# Other packages

Ellipsis

# Data Loading
Here is the section to load the datasets (train, eval, test) and the additional files

In [111]:
traffic=pd.read_csv("Metro_Interstate_Traffic_Volume.csv")

# Exploratory Data Analysis: EDA
Here is the section to **inspect** the datasets in depth, **present** it, make **hypotheses** and **think** the *cleaning, processing and features creation*.

## Dataset overview

Have a look at the loaded datsets using the following methods: `.head(), .info()`

In [112]:
traffic.shape

(48204, 9)

In [113]:
traffic.head(20)

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,None,288.28,0.0,0.0,40,Clouds,scattered clouds,2012-10-02 09:00:00,5545
1,None,289.36,0.0,0.0,75,Clouds,broken clouds,2012-10-02 10:00:00,4516
2,None,289.58,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 11:00:00,4767
3,None,290.13,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 12:00:00,5026
4,None,291.14,0.0,0.0,75,Clouds,broken clouds,2012-10-02 13:00:00,4918
5,None,291.72,0.0,0.0,1,Clear,sky is clear,2012-10-02 14:00:00,5181
6,None,293.17,0.0,0.0,1,Clear,sky is clear,2012-10-02 15:00:00,5584
7,None,293.86,0.0,0.0,1,Clear,sky is clear,2012-10-02 16:00:00,6015
8,None,294.14,0.0,0.0,20,Clouds,few clouds,2012-10-02 17:00:00,5791
9,None,293.10,0.0,0.0,20,Clouds,few clouds,2012-10-02 18:00:00,4770
10,None,290.97,0.0,0.0,20,Clouds,few clouds,2012-10-02 19:00:00,3539
11,None,289.38,0.0,0.0,1,Clear,sky is clear,2012-10-02 20:00:00,2784
12,None,288.61,0.0,0.0,1,Clear,sky is clear,2012-10-02 21:00:00,2361
13,None,287.16,0.0,0.0,1,Clear,sky is clear,2012-10-02 22:00:00,1529
14,None,285.45,0.0,0.0,1,Clear,sky is clear,2012-10-02 23:00:00,963
15,None,284.63,0.0,0.0,1,Clear,sky is clear,2012-10-03 00:00:00,506
16,None,283.47,0.0,0.0,1,Clear,sky is clear,2012-10-03 01:00:00,321
17,None,281.18,0.0,0.0,1,Clear,sky is clear,2012-10-03 02:00:00,273
18,None,281.09,0.0,0.0,1,Clear,sky is clear,2012-10-03 03:00:00,367
19,None,279.53,0.0,0.0,1,Clear,sky is clear,2012-10-03 04:00:00,814

In [114]:
traffic['holiday'].unique()

array(['None', 'Columbus Day', 'Veterans Day', 'Thanksgiving Day',
       'Christmas Day', 'New Years Day', 'Washingtons Birthday',
       'Memorial Day', 'Independence Day', 'State Fair', 'Labor Day',
       'Martin Luther King Jr Day'], dtype=object)

## Hypothesis
#### Null Hypothesis, HO
Time of day is the number one factor that affects traffic the most.

#### AlternativeHypothesis, H1
Time of day is not the number one factor that affects traffic the most.

## Questions
1. Which holidays have the most traffic?
2. Which weekdays have the most traffic?
3. What time of day has the most traffic?(Is it morning, afternoon, evening, midnight or midday?)

MORNING
This is the time from midnight to midday.

AFTERNOON
This is the time from midday (noon) to evening.
From 12:00 hours to approximately 18:00 hours.

EVENING
This is the time from the end of the afternoon to midnight.
From approximately 18:00 hours to 00:00 hours.

MIDNIGHT
This is the middle of the night (00:00 hours).

MIDDAY
This is the middle of the day, also called "NOON" (12:00 hours).

4. Which factor affects traffic the most?
5. Compare rain, snow and temparature based on how they affect traffic
6. What's the highest recorded traffic?

In [115]:
traffic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48204 entries, 0 to 48203
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   holiday              48204 non-null  object
 1   temp                 48204 non-null  float64
 2   rain_1h              48204 non-null  float64
 3   snow_1h              48204 non-null  float64
 4   clouds_all           48204 non-null  int64
 5   weather_main         48204 non-null  object
 6   weather_description  48204 non-null  object
 7   date_time            48204 non-null  object
 8   traffic_volume       48204 non-null  int64
dtypes: float64(3), int64(2), object(4)
memory usage: 3.3+ MB

## Data Cleaning

In [116]:
#splitting the date_time column into date and time
traffic[['date','time']] = traffic['date_time'].str.split(' ',expand=True)
traffic.head(1)

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,date,time
0,None,288.28,0.0,0.0,40,Clouds,scattered clouds,2012-10-02 09:00:00,5545,2012-10-02,09:00:00

In [117]:
traffic['weekday'] =pd.to_datetime(traffic['date_time']).dt.day_name()
traffic.drop(columns=['date_time'], axis=1, inplace = True)

traffic['weekday'].unique()

array(['Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday',
       'Monday'], dtype=object)

In [118]:
def stringToTime(timeString):
    return datetime.strptime(timeString, '%H:%M:%S').time()
midnight=stringToTime('00:00:00')
midday=stringToTime('12:00:00')
sixpm=stringToTime('18:00:00')

#creating time_of_day column from time column
traffic['time_of_day'] = traffic['time'].apply(
    lambda x: 'morning' if midnight<stringToTime(x)<midday 
    else ('afternoon' if midday<stringToTime(x)<=sixpm
    else ('evening' if sixpm<=stringToTime(x)>midnight 
    else ('midday' if stringToTime(x)==midday
    else ('midnight' if stringToTime(x)==midnight
    else x)))) 
)

#dropping time column
traffic.drop(columns=['time'], axis=1, inplace = True)

traffic['time_of_day'].unique()

array(['morning', 'midday', 'afternoon', 'evening', 'midnight'],
      dtype=object)

In [119]:
traffic

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,traffic_volume,date,weekday,time_of_day
0,None,288.28,0.0,0.0,40,Clouds,scattered clouds,5545,2012-10-02,Tuesday,morning
1,None,289.36,0.0,0.0,75,Clouds,broken clouds,4516,2012-10-02,Tuesday,morning
2,None,289.58,0.0,0.0,90,Clouds,overcast clouds,4767,2012-10-02,Tuesday,morning
3,None,290.13,0.0,0.0,90,Clouds,overcast clouds,5026,2012-10-02,Tuesday,midday
4,None,291.14,0.0,0.0,75,Clouds,broken clouds,4918,2012-10-02,Tuesday,afternoon
...,...,...,...,...,...,...,...,...,...,...,...
48199,None,283.45,0.0,0.0,75,Clouds,broken clouds,3543,2018-09-30,Sunday,evening
48200,None,282.76,0.0,0.0,90,Clouds,overcast clouds,2781,2018-09-30,Sunday,evening
48201,None,282.73,0.0,0.0,90,Thunderstorm,proximity thunderstorm,2159,2018-09-30,Sunday,evening
48202,None,282.09,0.0,0.0,90,Clouds,overcast clouds,1450,2018-09-30,Sunday,evening
48203,None,282.12,0.0,0.0,90,Clouds,overcast clouds,954,2018-09-30,Sunday,evening